* {
  box-sizing: border-box;
}

body {
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

html {
  padding:0;
  margin:0;
  width:100%;
  height:100%;
}

.term{
  font-family: monospace;
  white-space: pre;
  color: #DDD;
  background: #333;
  padding: 1em;
  width: 80ch;
  height: 31.2em;
  line-height: 1.3em;
  box-shadow: 0 0 2em rgba(0,0,0,0.5);
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
}

.hidden{
  visibility: hidden;
}

.no-js .term{
  display: none;
}

.no-js noscript {
  width: 100%;
  height: 100%;
  background: blue;
  color:white;
  font: 18px monospace;
  padding: 5em;
}
